
# DB
DB_USERNAME=your_user
DB_PASSWORD=your_password
DB_NAME=your_project_db
DB_PORT=5432
DB_HOST=localhost

# App
NODE_ENV=development
PORT=3000
FRONT_URL='http://localhost:4200'
HOST_API='http://localhost:3000/api'
FIRST_USER_PASSWORD='your_secret_password'

# JWT Access Token
JWT_SECRET=your_super_secret_access_key_min_32_chars
JWT_EXPIRATION=1h

STORAGE_DRIVER=local
LOCAL_UPLOAD_DIR=./uploads

MAIL_HOST=smtp.tu-proveedor.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=usuario@tu-dominio.com
MAIL_PASSWORD=tu-password-o-app-password
MAIL_FROM="Tu App <no-reply@tu-dominio.com>"

# STORAGE_DRIVER=s3
# AWS_REGION=us-east-1
# AWS_S3_BUCKET=mi-bucket-produccion
# AWS_ACCESS_KEY_ID=AKIA...
# AWS_SECRET_ACCESS_KEY=...